<launch>
        <arg name="port" default="/dev/ttyUSB0" />
        <node pkg="sensor_pkg" name="seed_fts3" type="read_publish_sensor_node.py" output="screen">
                <param name="port" value="$(arg port)" />
                <rosparam>
                sensor_number: 2
                </rosparam>
        </node>

</launch>
